@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    background: #eee;
}

.nunito {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.main-color {
    color: #012970;
}

main {
    background: #fff;
    padding: 20px;
}

.secondary-color {
    color: rgb(244,115,93);
}

.navbar {
    background: #fff !important;
    /*box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);*/
    border-bottom: 1px solid #eee;
}

.navbar-brand .brand-name {
    margin-left: 20px;
}

.title {
    margin-top: 60px;
}

.under-title {
    width: 82%;
}

footer {
    padding: 20px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: rgb(0 0 0 / 22%);
}

.dropzone {
    width: 100%;
    background: #eee;
    border: 2px dashed #333;
    border-radius: 5px;
    padding: 20px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.dropzone-icon {
    display: block;
    font-size: 75px;
    margin: 20px;
    opacity: 0.3;
}

.dropzone-text {
    margin-bottom: 20px;
    font-weight: bold;
    opacity: 0.6;
}

#dropzone-input {
    display: none;
}