.header {
    background-image:
            linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
            url("../_images/dentists-dental-care.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
}

.header .container h1 {
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    text-shadow: 0 1px 8px rgb(0 0 0 / 30%);
}

.header .container p {
    font-family: 'Nunito', sans-serif;
    text-shadow: 0 1px 8px rgb(0 0 0 / 30%);

    /*max-width: 60%;*/
    margin-top: 20px;
    margin-bottom: 20px;
}

.header .container .icon {
    position: absolute;
    top: 10px;
    right: 28px;
}

.header .container .btn {
    min-width: 250px;
    position: relative;
}

.header .container .btn.btn-upload {
    min-width: 135px;
}

.header .container .btn span {
    margin-left: -25px;
}

.header .container .btn:hover .icon {
    transition: .3s all ease-in-out;
    right: 12px;
}

.header .container {
    padding-top: 140px;
    color: #fff;
}

.title {
    margin-top: 60px;
}

.under-title {
    width: 82%;
}